<%= render "survey_header" %>
<%= form_with model: @survey do |f| %>
  <%= "Survey Questions #{@survey.created_at.strftime("%b %d, %Y")}" %>
  <%= f.fields_for :answers do |answer_f| %>
    <div class="question-selection-group">
      <%= answer_f.hidden_field :id %>
      <%= answer_f.label :answer, answer_f.object.question_text %>
      <div class="survey-radio-group">
        <%= answer_f.collection_radio_buttons :answer,
            [
              ["Strongly Disagree", 1], 
              ['&nbsp;'.html_safe, 2], 
              ['&nbsp;'.html_safe, 3], 
              ['&nbsp;'.html_safe, 4], 
              ["Strongly Agree", 5]
            ],
            :last,
            :first
          %>
      </div>
    </div>
  <% end %>
  <%= f.submit "Submit Survey" %>
<% end %>
